{% extends 'base.html' %}

{% block title %} Edit {{pet.name}}'s Details{% endblock %}

{% block content %}

<div class="container-md col-6-lg" style="max-width: 25rem;">
    <form id="add-pet-form" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
        if field.widget.input_type != 'hidden' %}

        <div class="form-group">
            {% if field.id != 'avail' %}
            {{ field.label }}
            {{ field(class_="form-control") }}
            {% else %}
            {{ field.label }}
            {{ field }}
            {% endif %}

            {% for error in field.errors %}
            <small class="form-text text-muted">
                {{ error }}
            </small>
            {% endfor %}
        </div>

        {% endfor %}
        <br>
        <button class="btn btn-success btn-lg" type="submit">Save</button>
        <a href="/" class="btn btn-secondary btn-sm">Cancel</a>
    </form>
</div>

{% endblock %}